@model IEnumerable<LicznikKalorii.Models.Meal>

@{
    ViewData["Title"] = "Index";
}

<h1 style="font-family:Bahnschrift;color:darkgreen;margin-bottom:150px">Twoje posiłki</h1>

<p>
    <a asp-action="Create" style="text-decoration:none;color:darkgreen">+ Dodaj</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th style="color:darkgreen">
                @Html.DisplayNameFor(model => model.MealName)
            </th>
            <th style="color:darkgreen">
                @Html.DisplayNameFor(model => model.Kcal)
            </th>
           
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
                <td style="color:darkolivegreen">
                @Html.DisplayFor(modelItem => item.MealName)
            </td>
                <td style="color:darkolivegreen">
                @Html.DisplayFor(modelItem => item.Kcal)
            </td>
            
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" style="color:darkolivegreen;text-decoration:none">Edytuj</a> |
                    <a asp-action="Details" asp-route-id="@item.Id" style="color:darkolivegreen;text-decoration:none">Szczegóły</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id" style="color:darkolivegreen;text-decoration:none">Usuń</a>
            </td>
        </tr>
}
    </tbody>
</table>


